{% set ipv4_host = item.ipv4.network | ipv4('host/prefix') %}
auto {{ item.name }}
iface {{ item.name }} inet static
  address {{ ipv4_host | ipaddr('address') }}
  netmask {{ ipv4_host | ipaddr('netmask') }}
  bridge_ports none
  bridge_stp off
  bridge_waitport 0
  bridge_fd 0
